@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}


.img{
    display: flex;
    background-image: url('img/background_21.png');
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: 100%;
}


.connexion{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.rajeeth{
    background: linear-gradient(to bottom, #be3a2b 0%,#efbbbb);
    width: 350px;
    height: 290px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0 0 50px 50px;

}
